dicematcher/big_dataset/*
dicematcher/new_dataset/*
dicematcher/output_cnn/*
*.h5
*.png
*.jpg
*.jpeg
*.bmp
*/venv/*
ocr-processor/venv/*
ocr-processor/uploads/*
ocr-processor/__pycache__/
*/.DS_Store
